$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "helpers/_bootstrap-xxs.scss";
@import "helpers/_margins.scss";
@import "helpers/_padding.scss";

$iwr-blue: #4285f4;
$iwr-red: #ea4848;
$iwr-white: #fff;
$iwr-black: #333;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $iwr-blue;
  color: $iwr-white;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  font-size: 18px;
}

a {
  color: $iwr-white;
  text-decoration: underline;

  &:hover {
    color: $iwr-white;
    text-decoration: none;
  }

  &.btn {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $iwr-white;

  &:first-child {
    margin-top: 0;
  }
}

th,
td {
  font-size: 16px;
  line-height: 1.4;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $screen-sm) {
    font-size: 21px;
  }
}

td {
  font-weight: 300;
}

.screenshot {
  background-color: $iwr-white;
  padding: 5px;

  @media screen and (min-width: $screen-sm) {
    padding: 8px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.embed-responsive {
  border: 5px solid $iwr-white;

  @media screen and (min-width: $screen-sm) {
    border-width: 8px;
  }
}

.header {
  h1 {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 700;
  }

  h2 {
    font-weight: 400;
    font-size: 12px;
    margin-top: 6px;
  }
}

.header__logo {

  img {
    width: 100%;
    height: auto;
  }
}

.text-align-center {
  text-align: center;
}

.subheading {
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.table-feature-comparison {
  th,
  td {
    width: 50%;

    &:first-child {
      border-right: 1px solid $iwr-white;
      padding-right: 15px;
    }

    &:nth-child(2) {
      padding-left: 15px;
    }
  }
}


/* Custom page footer */
.footer {
  //border-top: 1px solid $iwr-white;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 950px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrap-icon-install {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: inline-block;
  padding-top: 13px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 12px;
  border-right: 1px solid darken(#4cae4c, 10%);
}

.wrap-text-install {
  padding-left: 47px;
}

.btn-install {
  position: relative;
}

blockquote {
  border-left: 0;
}

cite {
  //display: block;
}

.well {
  border-radius: 0;
  border: 8px solid #fff;
  background: transparent;
}